<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SPC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	 @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

	@Scripts.Render("~/bundles/layout")
</head>
<body>
<ul class="nav nav-tabs title_ul">
	<li class="active">@Html.ActionLink("X-R控制图", "Index", "Home")</li>
	<li class="disabled">@Html.ActionLink("CPK", "Index", "Home")</li>
	<li class="disabled">@Html.ActionLink("X-S控制图", "Index", "Home")</li>
	<li class="disabled">@Html.ActionLink("X-R控制图", "Index", "Home")</li>
	<li class="disabled">@Html.ActionLink("X-R控制图", "Index", "Home")</li>	
</ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>
 <footer>
            <p>&copy; @DateTime.Now.Year - 我的 程序</p>
        </footer>
   
</body>
</html>
